*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header h1,
section h2,
section h3,
form button{
    font-family: "Archivo Black", sans-serif;
    font-weight: normal;
}

header h5,
header nav li{
    font-family: "Lexend", sans-serif;
    font-weight: normal;
}

header{
    padding: 16px 0;
    background-color: #333a56;
    color: #e8e8e8;
}

body,
input,
textarea{
    font-family: "Lexend", sans-serif;
    background-color: #f7f5e6;
    color: #465c8b;
    font-weight: normal;
}

header nav li{
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a{
    color: #e8e8e8;
    text-decoration: none;

}

.container{
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .title{
    display: block;
    font-size: 24px;
}


section .container img{
    height: 470px
}

section .brands-list img{
    height: 50px;
}

.brands-list li {
    display:  inline;
    margin-right: 8px;
}

section .container{
    align-items: flex-start;
}

section{
    padding: 24px 0;
}

section h2{
    margin-bottom: 16px;
}

section p{
    margin-bottom: 8px;
}

.store-front{
    margin-right: 32px;
}

section .social-links img{
    height: 24px;
}

section .maps img{
    height: 300px;
}

section .maps{
    list-style-type: none;
}

.social-links li{
    display: inline;
    margin-right: 8px;
}

.social-links li a{
    text-decoration: none;
}

#contact .container{
    display: block
}

.contact-methods{
    display: flex;
    justify-content: space-between;
}

form input,
form textarea,
form button{
    display: block;
    width: 320px;
    margin-bottom: 8px;
    padding: 8px;
}

form textarea{
    resize: none;
    height: 180px;
}

section h3{
    margin-bottom: 16px;
}

form button{
    background-color: #333a56;
    color: #e8e8e8;
    border: none;
    cursor: pointer;
}

form button:hover{
    background-color: #465c8b;
}

input:focus,
textarea:focus{
    outline-color: #333a56;
}

footer{
    background-color: #333a56;
    color: #e8e8e8;
    padding: 16px 0;
}